<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="LOGJ2 %d [%-6p] %c{1} – %m%n"/>
        </Console>
    </Appenders>
    <appender name="log4jfile" class="org.apache.log4j.FileAppender">
        <param name="file" value="/opt/tomcat/apache-tomcat-8.0.53/logs/log4jlogs.log"/>
        <param name="immediateFlush" value="true"/>
        <param name="threshold" value="debug"/>
        <param name="append" value="false"/>
            <PatternLayout pattern="LOGJ2 %d [%-6p] %c{1} – %m%n"/>
    </appender>
    <Loggers>
        <Root level="debug">
            <appenderRef ref="Console"/>
            <appenderRef ref="log4jfile"/>
        </Root>
    </Loggers>
</Configuration>
